body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background: rgb(224, 255, 251);
  background: linear-gradient(
    0deg,
    rgba(224, 255, 251, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background-attachment: fixed;
  height: 100vh;
  font-family: "Jost", sans-serif;
}

h1 {
  text-align: center;
  color: ghostwhite;
  padding: 20px;
  width: 80vw;
  max-width: 500px;
  margin: 30px auto;
  font-weight: 500;
  font-size: 55px;
  text-transform: uppercase;
}

#output {
  display: flex;
  color: rgb(49, 85, 126);
  font-size: 20px;
  align-items: center;
  margin: 0 auto;
  width: 70vw;
  max-width: 900px;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 0;
}

#mainDashboard {
  padding: 10px;
}

#mainDashboard, #gridDashboard {
  flex-wrap: wrap;
}

#mainDashboard, #sectionOne, #sectionTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gridDashboard, #sectionTwo section, #sectionOne section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#sectionTwo section, #sectionOne section {
  width: 100%;
  justify-content: space-around;
  padding: 15px;
  align-items: end;
}

#sunriseImg, #sunsetImg, #maxTempImg, #minTempImg, #dayImg, #nightImg {
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(32%) sepia(14%) saturate(1873%) hue-rotate(172deg) brightness(91%) contrast(90%);
}

#sunriseImg {background-image: url(./public/sunrise.png);}
#sunsetImg {background-image: url(./public/sunset.png);}
#maxTempImg {background-image: url(./public/tempmax.png);}
#minTempImg {background-image: url(./public/tempmin.png);}
#dayImg {background-image: url(./public/day.png);}
#nightImg {background-image: url(./public/night.png);}

#dayImg, #nightImg {
  width: 30px;
  height: 30px;
}

#tempDayInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

form {
  text-align: center;
  margin: 40px 0 20px 0;
  background: none;
}

input {
  padding: 20px;
  border: none;
  border-radius: 20px;
  margin: 5px;
  font-size: 18px;
  /* Remove iOS button styling */
  -webkit-appearance: none;
}

input[type="text"] {
  font-family: "Jost", sans-serif;
  font-weight: 200;
}

input[type="submit"] {
  background-color: rgba(148, 187, 233, 1);
  color: white;
}

input::placeholder {
  color: rgba(148, 187, 233, 1);
}

#aside {
  display: flex;
  width: 15vw;
  justify-content: center;
}

#currentTempContainer {
  width: 100%;
  max-width: 120px;
  height: 50px;
  position: relative;
}

#currentTempBackground, #currentTemp {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#currentTempBackground {
  border-radius: 10px;
  background-color: black;
}

#currentTemp{
  font-weight: 600;
  margin: 0;
}

#aside img {
  height: 100px;
  width: auto;
}

#loadingScreen {
/* background image randomly generated in js */
  height: 20vh;
  width: 20vh;
  margin: 20px auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation:1s rotate infinite linear; 
}

/* animation for loading image */
@keyframes rotate{
  100%{ transform:rotate(1turn) } 
}

#fiveDayBtnList{
  list-style-type: none;
  margin: 15px auto 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70vw;
  max-width: 550px;
}

#fiveDayBtnList li {
  /* padding: 35px 40px; */
  /* margin: 0 10px; */
  background-color: rgb(49, 85, 126);
  border-radius: 50%;
  color: white;
  cursor: pointer;

  text-align: center;
  font-size: 15px;
  width: 70px;
  height: 70px;
  line-height: 70px;
}

#fiveDayForecast {
  margin-top: 50px;
  display: flex;
  overflow: auto;
  padding-bottom: 25px;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 20px;
}

.weatherAheadSections {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 300px;
  margin: 0 22px;
  color: rgb(49, 85, 126);
  padding: 20px;
  border-radius: 20px;
  border: 5px solid white;
  scroll-snap-align: start;  
}

#fiveDayDateString {
  white-space: normal; 
}

#errorMsgDiv {
  color: #31557e;
  width: 70vw;
  max-width: 900px;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 40px 0;
  font-size: 20px;
  display: flex;
}

@media only screen and (max-width: 600px) {

 #output {
  flex-direction: column;
  font-size: 16px;
  padding: 0;
  width: 90vw;
 }

 #mainDashboard {
  margin-bottom: 20px;
 }

 #sunriseImg, #sunsetImg, #maxTempImg, #minTempImg {
  width: 60px;
  height: 60px;
 }

/* center 5 day forecast sections for mobile */
 #fiveDayForecast {
  scroll-padding-left: 0;
 }

 .weatherAheadSections {
  width: 90vw;
  scroll-snap-align: center;
 }

 #fiveDayBtnList{
  width: 90vw;
  justify-content: space-around;
 }

 #fiveDayBtnList li {
  margin: 12px;
 }

}